<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description"
  content="Author: Rishav Rungta, Purpose: I made this site so every VITian can benifit from it.">
<title>VIT Faculty Search</title>
<!-- Compiled latest Css -->
<link rel="stylesheet" href="../materialize.min.css" />
<!--Import Google Icon Font-->
<link rel="stylesheet" href="../icon.css" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4003392243854011",
    enable_page_level_ads: true
  });
</script>