<!-- Nav bar -->
<header class="navbar-fixed">
  <nav class="nav-wrapper indigo">
    <div class="brand-logo center container">
      <a href="/" class="blue-text text-lighten-4 flow-text">VIT Faculty Search</a>
    </div>
  </nav>
</header>