<div class="container flow-text center" style="margin-bottom: 40px;">
  <p class="flow-text">Faculty Time Table</p>
  <table class="timetable">
    <tbody>
      <!-- Row for the Theory Time -->
      <tr class="theoryTime">
        <td rowspan="2" class="greyMatter">Theory</td>
        <td class="greyMatter">Start</td>
        <td>08:00</td>
        <td>09:00</td>
        <td>10:00</td>
        <td>11:00</td>
        <td>12:00</td>
        <td>-</td>
        <td>Lunch</td>
        <td>14:00</td>
        <td>15:00</td>
        <td>16:00</td>
        <td>17:00</td>
        <td>18:00</td>
        <td>18:50</td>
        <td>19:01</td>
      </tr>
      <tr class="theoryTime">
        <td class="greyMatter">End</td>
        <td>08:50</td>
        <td>09:50</td>
        <td>10:50</td>
        <td>11:50</td>
        <td>12:50</td>
        <td>-</td>
        <td>Lunch</td>
        <td>14:50</td>
        <td>15:50</td>
        <td>16:50</td>
        <td>17:50</td>
        <td>18:50</td>
        <td>19:00</td>
        <td>19:50</td>
      </tr>
      <!-- Row for Lab time -->
      <tr class="labTime">
        <td rowspan="2" class="greyMatter">Lab</td>
        <td class="greyMatter">Start</td>
        <td>08:00</td>
        <td>08:46</td>
        <td>10:00</td>
        <td>10:46</td>
        <td>11:31</td>
        <td>12:16</td>
        <td>Lunch</td>
        <td>14:00</td>
        <td>14:46</td>
        <td>16:00</td>
        <td>16:46</td>
        <td>17:31</td>
        <td>18:16</td>
        <td>-</td>
      </tr>
      <tr class="labTime">
        <td class="greyMatter">End</td>
        <td>08:45</td>
        <td>09:30</td>
        <td>10:45</td>
        <td>11:30</td>
        <td>12:15</td>
        <td>13:00</td>
        <td>Lunch</td>
        <td>14:45</td>
        <td>15:30</td>
        <td>16:45</td>
        <td>17:30</td>
        <td>18:15</td>
        <td>19:00</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">MON</td>
        <td class="greyMatter">Theory</td>
        <td class="A1">A1</td>
        <td class="F1">F1</td>
        <td class="D1">D1</td>
        <td class="TB1">TB1</td>
        <td class="TG1">TG1</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="A2">A2</td>
        <td class="F2">F2</td>
        <td class="D2">D2</td>
        <td class="TB2">TB2</td>
        <td class="TG2">TG2</td>
        <td>-</td>
        <td class="V3">V3</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L1">L1</td>
        <td class="L2">L2</td>
        <td class="L3">L3</td>
        <td class="L4">L4</td>
        <td class="L5">L5</td>
        <td class="L6">L6</td>
        <td class="greyMatter">Lunch</td>
        <td class="L31">L31</td>
        <td class="L32">L32</td>
        <td class="L33">L33</td>
        <td class="L34">L34</td>
        <td class="L35">L35</td>
        <td class="L36">L36</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan="2" class="greyMatter">TUE</td>
        <td class="greyMatter">Theory</td>
        <td class="B1">B1</td>
        <td class="G1">G1</td>
        <td class="E1">E1</td>
        <td class="TC1">TC1</td>
        <td class="TAA1">TAA1</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="B2">B2</td>
        <td class="G2">G2</td>
        <td class="E2">E2</td>
        <td class="TC2">TC2</td>
        <td class="TAA2">TAA2</td>
        <td>-</td>
        <td class="V4">V4</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L7">L7</td>
        <td class="L8">L8</td>
        <td class="L9">L9</td>
        <td class="L10">L10</td>
        <td class="L11">L11</td>
        <td class="L12">L12</td>
        <td class="greyMatter">Lunch</td>
        <td class="L37">L37</td>
        <td class="L38">L38</td>
        <td class="L39">L39</td>
        <td class="L40">L40</td>
        <td class="L41">L41</td>
        <td class="L42">L42</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">WED</td>
        <td class="greyMatter">Theory</td>
        <td class="C1">C1</td>
        <td class="A1">A1</td>
        <td class="F1">F1</td>
        <td class="V1">V1</td>
        <td class="V2">V2</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="C2">C2</td>
        <td class="A2">A2</td>
        <td class="F2">F2</td>
        <td class="TD2">TD2</td>
        <td class="TBB2">TBB2</td>
        <td>-</td>
        <td class="V5">V5</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L13">L13</td>
        <td class="L14">L14</td>
        <td class="L15">L15</td>
        <td class="L16">L16</td>
        <td>-</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="L43">L43</td>
        <td class="L44">L44</td>
        <td class="L45">L45</td>
        <td class="L46">L46</td>
        <td class="L47">L47</td>
        <td class="L48">L48</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">THU</td>
        <td class="greyMatter">Theory</td>
        <td class="D1">D1</td>
        <td class="B1">B1</td>
        <td class="G1">G1</td>
        <td class="TE1">TE1</td>
        <td class="TCC1">TCC1</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="D2">D2</td>
        <td class="B2">B2</td>
        <td class="G2">G2</td>
        <td class="TE2">TE2</td>
        <td class="TCC2">TCC2</td>
        <td>-</td>
        <td class="V6">V6</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L19">L19</td>
        <td class="L20">L20</td>
        <td class="L21">L21</td>
        <td class="L22">L22</td>
        <td class="L23">L23</td>
        <td class="L24">L24</td>
        <td class="greyMatter">Lunch</td>
        <td class="L49">L49</td>
        <td class="L50">L50</td>
        <td class="L51">L51</td>
        <td class="L52">L52</td>
        <td class="L53">L53</td>
        <td class="L54">L54</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">FRI</td>
        <td class="greyMatter">Theory</td>
        <td class="E1">E1</td>
        <td class="C1">C1</td>
        <td class="TA1">TA1</td>
        <td class="TF1">TF1</td>
        <td class="TD1">TD1</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td class="E2">E2</td>
        <td class="C2">C2</td>
        <td class="TA2">TA2</td>
        <td class="TF2">TF2</td>
        <td class="TDD2">TDD2</td>
        <td>-</td>
        <td class="V7">V7</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L25">L25</td>
        <td class="L26">L26</td>
        <td class="L27">L27</td>
        <td class="L28">L28</td>
        <td class="L29">L29</td>
        <td class="L30">L30</td>
        <td class="greyMatter">Lunch</td>
        <td class="L55">L55</td>
        <td class="L56">L56</td>
        <td class="L57">L57</td>
        <td class="L58">L58</td>
        <td class="L59">L59</td>
        <td class="L60">L60</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">SAT</td>
        <td class="greyMatter">Theory</td>
        <td class="V8">V8</td>
        <td>X11</td>
        <td>X12</td>
        <td>Y11</td>
        <td>Y12</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td>X21</td>
        <td>Z21</td>
        <td>Y21</td>
        <td>W21</td>
        <td>W22</td>
        <td>-</td>
        <td class="V9">V9</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L71">L71</td>
        <td class="L72">L72</td>
        <td class="L73">L73</td>
        <td class="L74">L74</td>
        <td class="L75">L75</td>
        <td class="L76">L76</td>
        <td class="greyMatter">Lunch</td>
        <td class="L77">L77</td>
        <td class="L78">L78</td>
        <td class="L79">L79</td>
        <td class="L80">L80</td>
        <td class="L81">L81</td>
        <td class="L82">L82</td>
        <td>-</td>
      </tr>
      <tr class="theorySlots">
        <td rowspan=" 2" class="greyMatter">SUN</td>
        <td class="greyMatter">Theory</td>
        <td class="V10">V10</td>
        <td>Y11</td>
        <td>Y12</td>
        <td>X11</td>
        <td>X12</td>
        <td>-</td>
        <td class="greyMatter">Lunch</td>
        <td>Y21</td>
        <td>Z21</td>
        <td>X21</td>
        <td>W21</td>
        <td>W22</td>
        <td>-</td>
        <td class="V11">V11</td>
      </tr>
      <tr>
        <td class="greyMatter">Lab</td>
        <td class="L83">L83</td>
        <td class="L84">L84</td>
        <td class="L85">L85</td>
        <td class="L86">L86</td>
        <td class="L87">L87</td>
        <td class="L88">L88</td>
        <td class="greyMatter">Lunch</td>
        <td class="L89">L89</td>
        <td class="L90">L90</td>
        <td class="L91">L91</td>
        <td class="L92">L92</td>
        <td class="L93">L93</td>
        <td class="L94">L94</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>